<!DOCTYPE html>
<html>
    <head>
    <title>Fiche du responsable </title>    
    </head>
    <body>

    <h5>Page du responsable :</h5>
    </div>
	
  	<table>

    <tr>
    	<td>Nom : </td><td>{{responsable.nom}}</td></tr></tr>
    <tr>


    </body>
</html>