<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		
		LISTE DES COURS</br>
		<table>
            <tr>
                {% for j in cours.jour %}
                    <td>{{ j.libelle }}</td>
                {% endfor %}
            </tr>
        </table>
	
	 
</html>